<mat-card class="cardWithShadow theme-card" style="margin-top: -16px;margin-left: 0px;
                                                   position: sticky;min-width: 994px;">
    <!-- Filtres alignés sur une seule ligne -->
    <div class="filter-container">
      <!-- Barre de recherche -->
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="🔍 Tout champ">
      </mat-form-field>
  
      <!-- Filtre Type de Process -->
      <mat-form-field appearance="outline" class="filter-box">
        <mat-label>Type de Process</mat-label>
        <mat-select (selectionChange)="applyProcessFilter($event.value)" multiple>
          <mat-option *ngFor="let process of processTypes" [value]="process">{{process}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Filtre Segment -->
  <mat-form-field appearance="outline" class="filter-box">
    <mat-label>Segment</mat-label>
    <mat-select (selectionChange)="applySegmentFilter($event.value)" multiple>
      <mat-option *ngFor="let segment of segments" [value]="segment">{{segment}}</mat-option>
    </mat-select>
  </mat-form-field>
  
      <!-- Filtre Statut -->
      <mat-form-field appearance="outline" class="filter-box">
        <mat-label>Statut</mat-label>
        <mat-select (selectionChange)="applyStatusFilter($event.value)" multiple>
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <mat-divider></mat-divider>
  
    <!-- Tableau -->
    <div class="table-responsive">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Colonnes -->
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Référence</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.reference}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="operateurs">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Opérateurs</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="viewOperatorsDetails(row)">
            <div class="user-cell">
              <mat-icon style="margin-left: 25px;">groups</mat-icon>
              <span class="operator-count" *ngIf="row.operateurs?.length > 0">
                ({{row.operateurs.length}})
              </span>
            </div>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="process">
          <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Process</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.process}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="segment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Segment</mat-header-cell>
          <mat-cell *matCellDef="let row">&nbsp;&nbsp;&nbsp;{{row.segment}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="machine">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Machine</mat-header-cell>
          <mat-cell *matCellDef="let row">&nbsp;&nbsp;&nbsp;{{row.machine}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Statut</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="status-badge" [class]="getStatusClass(row.status)">
                {{row.status}}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="planAction">
            <mat-header-cell style="width: 300px;" *matHeaderCellDef mat-sort-header>
              Plan d'action
            </mat-header-cell>
            <mat-cell style="width: 300px;" *matCellDef="let row">
              <ng-container *ngIf="row.planAction; else noPlan">
                <span class="plan-badge" (click)="viewPlanAction()">
                  <mat-icon >description</mat-icon>
                  Voir
                </span>
              </ng-container>
              <ng-template #noPlan>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -
              </ng-template>
            </mat-cell>
          </ng-container>
          
<ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Actions</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <!-- Icône Eye (visualisation) - couleur primaire -->
      <button mat-icon-button (click)="viewFilePDEK(row)" matTooltip="Voir détails">
        <mat-icon class="icon-eye">visibility</mat-icon>
      </button>
      
      <!-- Icône Print (impression) - couleur accent -->
      <button mat-icon-button (click)="printRow(row)" matTooltip="Imprimer">
        <mat-icon class="icon-print">print</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>