<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0" id="titreNumCourant"> Ajout &nbsp; PDEK &nbsp; Pistolet &nbsp; Pneumatique </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Type de pistolet</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="typePistolet">
                  <mat-option *ngFor="let option of types" [value]="option.value">
                    {{ option.viewValue }}
                  </mat-option>
             
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Numéro de pistolet</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="numeroPistolet" placeholder="Entrez le numéro de pistolet" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Coupe Propre</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="selectedValue">
                  <mat-option *ngFor="let option of country" [value]="option.value">
                    {{ option.viewValue }}
                  </mat-option>
             
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Nombre de collier tester</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="nombreCollier" placeholder="Entrez le nombre de collier" />
            </mat-form-field>
          </div>
  
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Axe de serrage</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="axeSerrage" placeholder="Entrez l'axe de serrage" />
            </mat-form-field>
          </div>
  
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Semaine</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="semaine" placeholder="Entrez le nombre de semaine" />
            </mat-form-field>
          </div>
        </div>
  
  
        <h2 class="trext-cente" id="titreForm">- Saisie des valeurs des échantillons -</h2>
  
        <div class="form-container">
          <!-- Échantillon 1 -->
          <div class="form-row">
            <div class="rowspan-cell"></div>
            <div class="form-fields">
              <mat-form-field appearance="outline" class="w-100" style="width: 400px;">
                <mat-label>échantillon 1</mat-label>
                <input matInput formControlName="echantillon1" placeholder="Entrez valeur de traction de échantillon 1" />
              </mat-form-field>
            </div>
          </div>
  
          <!-- Échantillon 2 -->
          <div class="form-row">
            <div class="rowspan-cell"></div>
            <div class="form-fields">
              <mat-form-field appearance="outline" class="w-100" style="width: 400px;">
                <mat-label>échantillon 2</mat-label>
                <input matInput formControlName="echantillon2" placeholder="Entrez valeur de traction de échantillon 2" />
              </mat-form-field>
            </div>
          </div>
  
          <!-- Échantillon 3 -->
          <div class="form-row">
            <div class="rowspan-cell"></div>
            <div class="form-fields">
              <mat-form-field appearance="outline" class="w-100" style="width: 400px;">
                <mat-label>échantillon 3</mat-label>
                <input matInput formControlName="echantillon3" placeholder="Entrez valeur de traction de échantillon 3" />
              </mat-form-field>
            </div>
          </div>
  
          <!-- Échantillon 4 -->
          <div class="form-row">
            <div class="rowspan-cell"></div>
            <div class="form-fields">
              <mat-form-field appearance="outline" class="w-100" style="width: 400px;">
                <mat-label>échantillon 4</mat-label>
                <input matInput formControlName="echantillon4" placeholder="Entrez valeur de traction de échantillon 4" />
              </mat-form-field>
            </div>
          </div>
  
          <!-- Échantillon 5 -->
          <div class="form-row">
            <div class="rowspan-cell"></div>
            <div class="form-fields">
              <mat-form-field appearance="outline" class="w-100" style="width: 400px;">
                <mat-label>échantillon 5</mat-label>
                <input matInput formControlName="echantillon5" placeholder="Entrez valeur de traction de échantillon 5" />
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="m-t-12">
          <button mat-flat-button color="primary" class="m-r-8" type="submit" id="btnSave">Valider</button>
          <button mat-flat-button class="bg-error text-white m-l-8" (click)="cancelForm()" id="btnCancel">Annuler</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  