<div class="loading" *ngIf="showLoader">
    <span id="loader" class="loader"></span>
  </div>
  <div class="pdf-scroll-wrapper" *ngIf="!showLoader">
    <div class="pdf-container">
      <!-- En-tête -->
    <div class="header">
      <!-- Titre principal -->
      <div class="main-title" style="font-weight: bold; font-size: 24px; margin-bottom: 10px;">
        Carte d'enregistrement des données de processus à critére variable
      </div>
      <div class="styleLogoLeoni"> LEONI </div>
    </div>
      <!-- Tableau -->
    <div id="idBorderTableau">
    <table border="2" id="tableTitre">
      <tr>
        <td style="font-size: 13px;">Type de l'opération  :
          <br><strong style="color: black;font-size: 18px;">Torsadage </strong>
        </td>
        <td style="font-size: 13px;">Instruction de mesure  :
            <br><strong style="color: black;font-size: 14px;">Régle en mm</strong>
          </td>
        <td style="font-size: 13px;"> Spécification de mesure :<br>
          <strong style="color: black;font-size: 18px;">{{ specificationMesure}}+/- 2 mm²</strong>
        </td>
        <td style="font-size: 13px;">Fréquence de controle <br>
          <strong style="color: red;font-size: 18px;">IC TN 34 06</strong>
        </td>
        <td style="font-size: 13px;">Nombre d'echantillons<br>
          <strong style="color: rgb(4, 172, 46);font-size: 18px;"> 5 Piéces</strong>
        </td>
        <td style="font-size: 13px;">N° de machine :<br><strong>{{machine }}</strong></td>
        <td style="font-size: 13px;">
          Segment / année<br>
          {{segmentUser}} /  {{annee}}        
        </td>
      </tr>
  </table>
   
    </div>
      <div id="idBorderMoyenne">
        <div class="vertical-text-moyenne">La moyenne X̄</div>
        <apx-chart 
        [series]="chartOptionsMoyenne.series"
        [chart]="chartOptionsMoyenne.chart"
        [xaxis]="chartOptionsMoyenne.xaxis"
        [yaxis]="chartOptionsMoyenne.yaxis"
        [stroke]="chartOptionsMoyenne.stroke"
        [dataLabels]="chartOptionsMoyenne.dataLabels"
        [markers]="chartOptionsMoyenne.markers"
        [tooltip]="chartOptionsMoyenne.tooltip"
        [annotations]="chartOptionsMoyenne.annotations"
       
          style="margin-left: 47px; position: absolute; width: 1044px;margin-top: -244px;"
  
        ></apx-chart>
      </div>
      
      <div  id="idBorderEtendu">
        <div class="vertical-text-etendu">L'étendu R</div>
        <apx-chart 
        [series]="chartOptionsEtendue.series"
        [chart]="chartOptionsEtendue.chart"
        [xaxis]="chartOptionsEtendue.xaxis"
        [yaxis]="chartOptionsEtendue.yaxis"
        [stroke]="chartOptionsEtendue.stroke"
        [dataLabels]="chartOptionsEtendue.dataLabels"
        [markers]="chartOptionsEtendue.markers"
        [tooltip]="chartOptionsEtendue.tooltip"
        [annotations]="chartOptionsEtendue.annotations"
        style="margin-left: 47px; position: absolute; width: 1044px;margin-top: -240px;">
      </apx-chart>
        </div>
  
      <div class="tables-wrapper" >
       <!-- TABLEAU PRINCIPAL -->
<table class="main-table">
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil début Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalDebutCde(i) ?? '' }}
    </td> 
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil fin Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalFinCde(i) ?? '' }}
    </td> 
  </tr>

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Longueur bouts non tors. début Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutDebutC1(i) ?? '' }}
    </td>
  </tr>

  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutDebutC2(i) ?? '' }}
    </td>
  </tr>
 

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Longueur bouts non tors. fin Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutFinC1(i) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutFinC2(i) ?? '' }}
    </td>
  </tr>

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Déc. max début Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxDebutC1(i) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxDebutC2(i) ?? '' }}
    </td>
  </tr>

  <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Déc. max fin Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxFinC1(i) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxFinC1(i) ?? '' }}
    </td>
  </tr>
  <!-- Code de répartition -->

  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil fin Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalFinCde(i) ?? '' }}
    </td> 
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Code de mesure</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getCodeControle(i) ?? '' }}
    </td>
  </tr>
  <!-- Date sans année -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Date </th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDateSansAnnee(i) ?? '' }}
    </td>
    
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Nom </th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getMatriculeOperateur(i) ?? '' }}
    </td>
    
  </tr>
  
<!-- 5 LIGNES X -->
<tr class="blanc-background">
  <th rowspan="5" colspan="2" class="bordered">X</th>
  <td *ngFor="let i of twentyFive">{{ getValeurX(0, i) ?? '' }}</td>
</tr>
<tr class="blanc-background">
  <td *ngFor="let i of twentyFive">{{ getValeurX(1, i) ?? '' }}</td>
</tr>
<tr class="blanc-background">
  <td *ngFor="let i of twentyFive">{{ getValeurX(2, i) ?? '' }}</td>
</tr>
<tr class="blanc-background">
  <td *ngFor="let i of twentyFive">{{ getValeurX(3, i) ?? '' }}</td>
</tr>
<tr class="blanc-background">
  <td *ngFor="let i of twentyFive">{{ getValeurX(4, i) ?? '' }}</td>
</tr>


  <!-- Moyenne -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">X̄</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getMoyenne(i) ?? '' }}
    </td>
  </tr>

  <!-- Étendue -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">R</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getEtendu(i) ?? '' }}
    </td>
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Atteinte quantité</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getQuantiteAtteint(i) ?? '' }}
    </td>
  </tr>
  <!-- Num courant -->
  <tr  class="gris-background">
    <th colspan="2">Nr courant</th>
    <td *ngFor="let i of [].constructor(25); let idx = index">
      {{ idx + 1 }}
    </td>
  </tr>
  
</table>

  <div class="side-wrapper">

  <table class="side-table">
    <thead>
      <tr>
        <th class="bordered">Nr.</th>
        <th class="bordered">Nr. De Cde</th>
        <th class="bordered">Quantité total </th>
        <th class="bordered">Nr de fils</th>
        <th class="bordered">Décision</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of getRange(25)" class="blanc-background">
        <td>{{ i + 1 }}</td>
        <ng-container *ngIf="torsadages[i]; else emptyRow">
          <td>{{ torsadages[i].numCommande }}</td>
          <td>{{ torsadages[i].quantiteTotale }}</td>
          <td>{{ torsadages[i].numerofil }}</td>
          <td class="blanc-background1">
            <ng-container *ngIf="(getDecision(torsadages[i].numeroCycle) === 1 
                                  && getRempliePlanAction(torsadages[i].numeroCycle) === 1) 
                                  || torsadagesValides.has(torsadages[i].id); 
                                  else checkOrInvalid">
           </ng-container>
            <ng-template #checkOrInvalid>
              <button 
                (click)="onValiderTorsadage(torsadages[i].id)" 
                *ngIf="!torsadagesValides.has(torsadages[i].numeroCycle) 
                      && role === 'AGENT_QUALITE' &&  torsadages[i].rempliePlanAction === 0 
                      &&  torsadages[i].decision === 0"
                class="custom-check-button">
                <i class="fa fa-check"></i>
              </button>
            </ng-template>     
            <ng-template #pasValide>
              <span>Invalide</span>
            </ng-template>
             <span *ngIf="role==='CHEF_DE_LIGNE' && torsadages[i].decision === 0  &&  torsadages[i].rempliePlanAction === 1 "> N/V</span>
             <span *ngIf="role==='AGENT_QUALITE' && torsadages[i].decision === 0  &&  torsadages[i].rempliePlanAction === 1 "> N/V</span>
             <span *ngIf="torsadages[i].decision === 1 || torsadagesValides.has(torsadages[i].id)">Confirmé</span>
          </td>
        </ng-container>
      
        <ng-template #emptyRow>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </ng-template>
      </tr>
      
  </tbody>
</table>
  <div id="idBorderRemarque">
    <span id="spanRemarque">Remarque<br></span>
       </div>
      </div>
      
            </div>
            <div>
              <br>
            <span id="titreCode"> Code de Controle : </span>
            <span id="code1"> A = Rupture à cause défaut de matériel ou perturbation de moyen de travail /Arrét </span>
            <span id="code2"> D = Démarrage de commande </span>
            <span id="code3"> R = Machine réparé </span><br>
            </div>
             </div>
       <button mat-flat-button color="primary" class="m-r-8" type="submit" id="retourBtn" 
       (click)="naviger()">Retour</button>
    </div>
  