  #titreForm{
    margin-left: 300px;
    color: #003d89;
  }

  ::ng-deep .force-panel-down .mat-select-panel {
  transform-origin: top !important;
  top: 100% !important;
  bottom: auto !important; }

  #btnValid{
    position: relative;
    left: 30vw;
  }
   
 