<div style="width: 75%; height: 400px;">
  <apx-chart 
    [series]="chartOptionsMoyenne.series"
    [chart]="chartOptionsMoyenne.chart"
    [xaxis]="chartOptionsMoyenne.xaxis"
    [yaxis]="chartOptionsMoyenne.yaxis"
    [stroke]="chartOptionsMoyenne.stroke"
    [dataLabels]="chartOptionsMoyenne.dataLabels"
    [markers]="chartOptionsMoyenne.markers"
    [tooltip]="chartOptionsMoyenne.tooltip"
    [annotations]="chartOptionsMoyenne.annotations"
    [fill]="chartOptionsMoyenne.fill"
    [legend]="chartOptionsMoyenne.legend"
  ></apx-chart>
</div>

<div style="width: 75%; height: 250px;">
  <apx-chart 
    [series]="chartOptionsEtendue.series"
    [chart]="chartOptionsEtendue.chart"
    [xaxis]="chartOptionsEtendue.xaxis"
    [yaxis]="chartOptionsEtendue.yaxis"
    [stroke]="chartOptionsEtendue.stroke"
    [dataLabels]="chartOptionsEtendue.dataLabels"
    [markers]="chartOptionsEtendue.markers"
    [tooltip]="chartOptionsEtendue.tooltip"
    [annotations]="chartOptionsEtendue.annotations"
  ></apx-chart>
</div>
