<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex w-100">
            <mat-card-title>Nombre de PDEK par Type d'Opération en {{getCurrentYear()}}</mat-card-title>
            <div class="m-l-auto">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <i-tabler name="dots-vertical"></i-tabler>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>
                        <span>Action</span>
                    </button>
                    <button mat-menu-item>
                        <span>Another Action</span>
                    </button>
                    <button mat-menu-item>
                        <span>Something else here</span>
                    </button>
                </mat-menu>
            </div>
        </div> <!---->
        <apx-chart
       *ngIf="profitExpanceChart?.series?.length"
        [series]="profitExpanceChart.series"
        [chart]="profitExpanceChart.chart"
        [xaxis]="profitExpanceChart.xaxis"
        [yaxis]="profitExpanceChart.yaxis"
        [dataLabels]="profitExpanceChart.dataLabels"
        [legend]="profitExpanceChart.legend"
        [grid]="profitExpanceChart.grid"
        [stroke]="profitExpanceChart.stroke"
        [tooltip]="profitExpanceChart.tooltip"
        [plotOptions]="profitExpanceChart.plotOptions"
        [fill]="profitExpanceChart.fill"
        [markers]="profitExpanceChart.markers"
        [responsive]="profitExpanceChart.responsive">
      </apx-chart>
      
    </mat-card-content>
</mat-card>