<div class="row">
  <div class="col-lg-8">
    <app-pdek-process></app-pdek-process>
  </div>
  <div class="col-lg-4">
    <app-effectif-operateurs></app-effectif-operateurs>
    <app-erreurs-process></app-erreurs-process>
  </div>
</div>

<app-top-employees></app-top-employees>
<!--div class="row">
  <div class="col-lg-4">
    <app-upcoming-schedules></app-upcoming-schedules>
  </div>
  <div class="col-lg-8">
    <app-top-employees></app-top-employees>
  </div>
</div-->

<!--app-blog></app-blog-->