<h2 mat-dialog-title style="margin-left: 75px;"> Informations de l'utilisateur </h2>
    
  <mat-dialog-content class="operator-details"><br>
    <mat-list>
      <mat-list-item *ngFor="let operator of data.operators; let last = last" 
      style="height: 190px;" class="operator-info">
        <div matLine>
          <span class="label">Matricule:</span> {{ operator.matricule }}
        </div>
        <div matLine>
          <span class="label">Nom:</span> {{ operator.nom }}
        </div>
        <div matLine>
          <span class="label">Prénom:</span> {{ operator.prenom }}
        </div>
        <div matLine>
          <span class="label">Email :</span> {{ operator.email }}
        </div>
           <div matLine>
          <span class="label">Type Opération :</span> {{ formatOperation(operator.typeOperation) }}
        </div>
         <div matLine>
          <span class="label">Role :</span> {{ formatOperation(operator.role) }}
        </div>
        <div matLine>
          <span class="label">Plant:</span> {{ operator.plant }}
        </div>
        <div matLine>
          <span class="label">Segment:</span> {{ operator.segment }}
        </div>
         <div matLine>
          <span class="label">Numéro Télephone :</span> {{ operator.numeroTelephone }}
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close style=" margin: auto;">
        Fermer</button>
    </mat-dialog-actions>