<mat-toolbar class="topbar gap-10">

  <!-- Menu mobile -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <!-- Icône notifications -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notifications">
    <i-tabler 
    class="d-flex" 
    name="bell" 
    [matBadge]="serviceGeneral.nbrNotifications" 
    matBadgeColor="primary" 
    [matBadgeHidden]="serviceGeneral.nbrNotifications === 0">
  </i-tabler>
    </button>


  <!-- Menu déroulant notifications -->
  <mat-menu #menu="matMenu" panelClass="custom-notif-menu">
   <!-- Pour l'AGENT_QUALITE_PISTOLET -->
<ng-container *ngIf="role === 'AGENT_QUALITE_PISTOLET'">
  <mat-menu-item *ngFor="let p of serviceGeneral.pistolets.slice(0, 3); let last = last">
    <div style="width: 100%;">
      <p style="margin-left: 9px;">
        <strong>
          <span [style]="getCouleurPistoletStyle(p.type)">Pistolet</span> ({{ p.categorie }})
        </strong>
         Numéro : {{ p.numeroPistolet }} &nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ p.messageEtat }}</span>
      </p>
      <small class="time">{{ getDifferenceFromNow(p) }}</small>
      <div>
        <button mat-button color="primary" (click)="voirPistolet(p)">Voir le PDEK</button>
        <button mat-button color="accent" (click)="validerPdekPistolet(p.id)"
                [disabled]="!p.activationValider">Valider PDEK</button>
      </div>
    </div>
    <hr *ngIf="!last" />
  </mat-menu-item>
    <!-- Bouton voir plus -->
    <div  *ngIf="serviceGeneral.pistolets.length > 0; else aucuneNotif"  style="width: 100%; display: flex; justify-content: center; padding-top: 8px;">
      <button mat-flat-button class="bg-success text-white" (click)="voirTousNotifications()">Voir plus</button>
    </div>
</ng-container>

<!-- Pour le Technicien -->
<ng-container *ngIf="role === 'TECHNICIEN'">
  <mat-menu-item *ngFor="let p of serviceGeneral.pistolets.slice(0, 3); let last = last">
    <div style="width: 100%;">
      <p style="margin-left: 9px;">
        <strong>
          <span [style]="getCouleurPistoletStyle(p.type)">Pistolet</span> ({{ p.categorie }})
        </strong>
        Numéro : {{ p.numeroPistolet }} &nbsp;&nbsp;&nbsp;&nbsp;<br>
        <span>{{ p.messageEtat }}</span>
      </p>
      <small class="time">{{ getDifferenceFromNow(p) }}</small>
    <div>
      <button mat-button color="primary" (click)="voirPistolet(p)">Voir le PDEK</button>
      <button mat-button color="accent" (click)="creerPlanAction(p)"> Ajout Plan d'action</button>
               
      </div>
    </div>
    <hr *ngIf="!last" />
  </mat-menu-item>
    <!-- Bouton voir plus -->
    <div  *ngIf="serviceGeneral.pistolets.length > 0; else aucuneNotif" style="width: 100%; display: flex; justify-content: center; padding-top: 8px;">
      <button mat-flat-button class="bg-success text-white" (click)="voirTousNotifications()">Voir plus</button>
    </div>
</ng-container>
<!-- ✅ Message si aucun pistolet -->
<ng-template #aucuneNotif>
  <div style="padding: 10px; text-align: center;">
    <p>Pas de notifications</p>
  </div>
</ng-template>
          <!-- Cas où il n'y a aucune notification -->
      <ng-template #noNotif>
        <mat-menu-item>
          <div style="width: 100%; text-align: center;">
            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Pas de notifications
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            </strong></p>
          </div>
        </mat-menu-item>
      </ng-template>
      </mat-menu>

  <!-- Espace vide entre icônes et profil -->
  <span class="flex-1-auto" style="margin-left: -575px;"></span>

  <!-- Menu profil -->
  <button class="rounded-pill" mat-mini-fab [matMenuTriggerFor]="profilemenu" aria-label="Profil" id="imageUser">
    <img [src]="getUserImage()" width="40" class="rounded-circle">
  </button>

  <div class="d-none d-lg-flex text-left flex-col">
    <h5 class="f-s-16 f-w-600" id="nomUser">{{ fullname }}</h5>
    <span class="f-s-14" id="roleUser">{{ roleDashboard }}</span>
  </div>

  <mat-menu #profilemenu="matMenu" class="cardWithShadow topbar-dd" xPosition="before">
    <div class="p-x-12 m-t-12">
      <a (click)="logout()" mat-stroked-button class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>
