<mat-card class="cardWithShadow">
        <mat-card-header>
        <mat-card-title style=" font-size: 18px;width:209px">PDEK erronés sans plan d'action renseigné    </mat-card-title>
            <div class="m-l-auto">
        <button mat-fab class="shadow-none bg-error icon-48" id="iconeBtn">
         <i class="fa-solid fa-triangle-exclamation" id="styleIcone"></i>
        </button>
        </div>
        </mat-card-header>
       
        <div class="row m-t-24">
            <div class="col-7">
                <h4 class="f-s-24" style="margin-left: 30px;">{{total}}</h4>
             
            </div>
          <apx-chart  style ="margin-left: 17px;"
        [series]="productsalesChart.series" [dataLabels]="productsalesChart.dataLabels"
        [chart]="productsalesChart.chart" [legend]="productsalesChart.legend" [colors]="productsalesChart.colors"
        [stroke]="productsalesChart.stroke" [tooltip]="productsalesChart.tooltip"
        [plotOptions]="productsalesChart.plotOptions" [responsive]="productsalesChart.responsive"></apx-chart>
        </div>
</mat-card>
<!-- -->