<div class="loading" *ngIf="showLoader">
    <span id="loader" class="loader"></span>
  </div>
  <div class="pdf-scroll-wrapper" *ngIf="!showLoader">
    <div class="pdf-container" *ngFor="let page of pages">
      <!-- En-tête -->
    <div class="header">
      <!-- Titre principal -->
      <div class="main-title" style="font-weight: bold; font-size: 24px; margin-bottom: 10px;">
        Carte d'enregistrement des données de processus à critére variable
      </div>
      <div class="styleLogoLeoni"> LEONI </div>
    </div>
      <!-- Tableau -->
    <div id="idBorderTableau">
    <table border="2" id="tableTitre">
      <tr>
        <td style="font-size: 13px;">Type de l'opération  :
          <br><strong style="color: black;font-size: 18px;">Torsadage </strong>
        </td>
        <td style="font-size: 13px;">Instruction de mesure  :
            <br><strong style="color: black;font-size: 14px;">Régle en mm</strong>
          </td>
        <td style="font-size: 13px;"> Spécification de mesure :<br>
          <strong style="color: black;font-size: 18px;">{{ specificationMesure}}+/- 2 mm²</strong>
        </td>
        <td style="font-size: 13px;">Fréquence de controle <br>
          <strong style="color: red;font-size: 18px;">IC TN 34 06</strong>
        </td>
        <td style="font-size: 13px;">Nombre d'echantillons<br>
          <strong style="color: rgb(4, 172, 46);font-size: 18px;"> 5 Piéces</strong>
        </td>
        <td style="font-size: 13px;">N° de machine :<br><strong>{{ getNumMachine() }}</strong></td>
        <td style="font-size: 13px;">
          Segment / année<br>
          {{segmentUser}} /  {{ getAnnee(page,0) ?? '' }}        
        </td>
      </tr>
  </table>
   
    </div>
      <div id="idBorderMoyenne">
        <div class="vertical-text-moyenne">La moyenne X̄</div>
        <apx-chart 
        [series]="page.chartOptionsMoyenne.series"
        [chart]="page.chartOptionsMoyenne.chart"
        [xaxis]="page.chartOptionsMoyenne.xaxis"
        [yaxis]="page.chartOptionsMoyenne.yaxis"
        [stroke]="page.chartOptionsMoyenne.stroke"
        [dataLabels]="page.chartOptionsMoyenne.dataLabels"
        [markers]="page.chartOptionsMoyenne.markers"
        [tooltip]="page.chartOptionsMoyenne.tooltip"
        [annotations]="page.chartOptionsMoyenne.annotations"
        [fill]="page.chartOptionsMoyenne.fill"
        [legend]="page.chartOptionsMoyenne.legend"
          style="margin-left: 47px; position: absolute; width: 1044px;margin-top: -244px;"
  
        ></apx-chart>
      </div>
      
      <div  id="idBorderEtendu">
        <div class="vertical-text-etendu">L'étendu R</div>
        <apx-chart 
          [series]="page.chartOptionsEtendue.series"
          [chart]="page.chartOptionsEtendue.chart"
          [xaxis]="page.chartOptionsEtendue.xaxis"
          [yaxis]="page.chartOptionsEtendue.yaxis"
          [stroke]="page.chartOptionsEtendue.stroke"
          [dataLabels]="page.chartOptionsEtendue.dataLabels"
          [markers]="page.chartOptionsEtendue.markers"
          [tooltip]="page.chartOptionsEtendue.tooltip"
          [annotations]="page.chartOptionsEtendue.annotations"
          style="margin-left: 47px; position: absolute; width: 1044px;margin-top: -240px;"
        ></apx-chart>
        </div>
  
      <div class="tables-wrapper" >
       <!-- TABLEAU PRINCIPAL -->
<table class="main-table">
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil début Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalDebutCde(page, col) ?? '' }}
    </td> 
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil fin Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalFinCde(page, col) ?? '' }}
    </td> 
  </tr>

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Longueur bouts non tors. début Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutDebutC1(page, col) ?? '' }}
    </td>
  </tr>

  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutDebutC2(page, col) ?? '' }}
    </td>
  </tr>
 

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Longueur bouts non tors. fin Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutFinC1(page, col) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurBoutFinC2(page, col) ?? '' }}
    </td>
  </tr>

   <!-- Ligne 3 : Titre + C1 -->
   <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Déc. max début Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxDebutC1(page, col) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxDebutC2(page, col) ?? '' }}
    </td>
  </tr>

  <tr class="blanc-background">
    <th rowspan="2" class="bordered">
      Déc. max fin Cde
    </th>
    <td><strong>C1</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxFinC1(page, col) ?? '' }}
    </td>
  </tr>

  <!-- Ligne 4 : C2 -->
  <tr class="blanc-background">
    <td><strong>C2</strong></td>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDecalageMaxFinC1(page, col) ?? '' }}
    </td>
  </tr>
  <!-- Code de répartition -->

  <tr class="blanc-background">
    <th colspan="2" class="bordered">Longueur fil fin Cde</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getLongueurFinalFinCde(page, col) ?? '' }}
    </td> 
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Code de mesure</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getCodeControle(page, col) ?? '' }}
    </td>
  </tr>
  <!-- Date sans année -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Date </th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getDateSansAnnee(page, col) ?? '' }}
    </td>
    
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Nom </th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getMatriculeOperateur(page, col) ?? '' }}
    </td>
    
  </tr>
  

  <!-- 5 LIGNES X -->
  <tr class="blanc-background">
    <th rowspan="5" colspan="2" class="bordered">X</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurX(page, 0, col) ?? '' }}
    </td> 
  </tr>
  <tr class="blanc-background">
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurX(page, 1, col) ?? '' }}
    </td>  
  </tr>
  <tr class="blanc-background">
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurX(page, 2, col) ?? '' }}
    </td>  
  </tr>
  <tr class="blanc-background">
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurX(page, 3, col) ?? '' }}
    </td>  </tr>
  <tr class="blanc-background">
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getValeurX(page, 4, col) ?? '' }}
    </td>
  </tr>

  <!-- Moyenne -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">X̄</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getMoyenne(page, col) ?? '' }}
    </td>
  </tr>

  <!-- Étendue -->
  <tr class="blanc-background">
    <th colspan="2" class="bordered">R</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getEtendu(page, col) ?? '' }}
    </td>
  </tr>
  <tr class="blanc-background">
    <th colspan="2" class="bordered">Atteinte quantité</th>
    <td *ngFor="let i of twentyFive; let col = index">
      {{ getQuantiteAtteint(page, col) ?? '' }}
    </td>
  </tr>
  <!-- Num courant -->
  <tr  class="gris-background">
    <th colspan="2">Nr courant</th>
    <td *ngFor="let i of [].constructor(25); let idx = index">
      {{ idx + 1 }}
    </td>
  </tr>
  
</table>

  <div class="side-wrapper">

  <table class="side-table">
    <thead>
      <tr>
        <th class="bordered">Nr.</th>
        <th class="bordered">Nr. De Cde</th>
        <th class="bordered">Quantité total </th>
        <th class="bordered">Nr de fils</th>
        <th class="bordered">Décision</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of twentyFive; let index = index" class="blanc-background">
        <td >{{ index + 1 }}</td>
        <ng-container *ngIf="page.torsadages[index] as torsadage">
          <td>{{ torsadage.numCommande }}</td>
          <td>{{ torsadage.quantiteTotale }}</td>
          <td>{{ torsadage.numerofil }}</td>
          <!--td>{{ torsadage.decision }}</td-->
          <td class="blanc-background1" >
             <button (click)="onValiderTorsadage(torsadage.id)" 
                    *ngIf="torsadage.decision === 0 &&  torsadage.rempliePlanAction === 0 && !pistoletsValides.has(torsadage.id)
                     && roleUser==='AGENT_QUALITE'" 
                    class="custom-check-button">
              <i class="fa fa-check"></i>
            </button>
           <span *ngIf="roleUser==='CHEF_DE_LIGNE' && torsadage.decision === 0 && torsadage.rempliePlanAction === 1 "> N/V</span>
           <span *ngIf="roleUser==='AGENT_QUALITE' && torsadage.decision === 0 && torsadage.rempliePlanAction === 1"> N/V</span>
            <span *ngIf="torsadage.decision === 1 || pistoletsValides.has(torsadage.id)">Confirmé</span>
          </td>
        </ng-container>
        <ng-container *ngIf="!page.torsadages[index]">
          <td></td><td></td><td></td><td></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <div id="idBorderRemarque">
    <span id="spanRemarque">Remarque<br></span>
  </div>
</div>

      </div>
         <div>
              <br>
            <span id="titreCode"> Code de Controle : </span>
            <span id="code1"> A = Rupture à cause défaut de matériel ou perturbation de moyen de travail /Arrét </span>
            <span id="code2"> D = Démarrage de commande </span>
            <span id="code3"> R = Machine réparé </span><br>
            </div>
       </div>
       <button mat-flat-button color="primary" class="m-r-8" type="submit" id="retourBtn" 
       (click)="naviger()">Retour à la liste des PDEKs</button>
    </div>
  